.inputName {
  border: none;
  border-left: 1px solid rgba(109, 193, 214, 0.7);
  border-radius: 0;
  border-bottom: 1px solid rgba(109, 193, 214, 0.7);
  background-color: transparent;
}
.inputName:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
}
