.much-Quotes {
  justify-content: space-around;
  font-family: "EB Garamond";
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-radius: 0;
  border-bottom: 0.5px solid rgb(153, 153, 153, 0.5);
}
.img-empty {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-empty > img {
  width: 96px;
  height: 96px;
}
blockquote {
  margin: 0;
  padding: 0;
  position: relative;

  max-width: 820px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fon-smoothing: grayscale;
}

blockquote p:first-of-type:before {
  content: "\201c";
  position: absolute;
  left: -0.5em;
}

blockquote p:last-of-type:after {
  content: "\201d";
  position: absolute;
}
.delete {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 16px;
  background-color: transparent;
  border: none;
}

.show {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 10px;
  right: 16px;
}
.showButton {
  background-color: transparent;
  border: none;
}
