.containerLandingPage {
  width: 80%;
  height: 100%;
  margin-left: 170px;
}

@media screen and (max-width: 690px) {
  .containerLandingPage {
    margin-left: 135px;
  }
}
@media screen and (max-width: 620px) {
  .containerLandingPage {
    margin: 0;
    width: 100%;
  }
}
