.cardds {
  font-family: "EB Garamond";
  font-size: 32px;
  height: 100%;
  font-kerning: normal;
  color: #1a222f;
  background: transparent;
  border: none;
}

p {
  line-height: 1.4em;
}

.quote {
  position: relative;
  letter-spacing: 0.03em;
  margin-bottom: 0.5rem;

  &:before {
    content: "“";
    position: absolute;
    left: -0.7em;
  }

  &:after {
    content: "”";
    margin-right: -1rem;
  }
}

.quote--container {
  margin: 1.5rem auto 0;
  width: 17em;
  border-bottom: 2px dotted #c6d1bf;
  padding-bottom: 0.5rem;
}

.quote--highlight {
  color: #d24335;
}

.quote--author {
  font-family: "Open Sans Condensed";
  font-size: 1.3rem;
  text-align: right;
  font-weight: 300;
}
@media screen and (max-width: 762px) {
  .cardds {
    font-size: 20px;
  }
  .quote--container {
    width: auto;
  }
}
