@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Inter";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "inte";

  src: url("./font/Inter-Regular.ttf") format("ttf");
}
